.feed-container {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feed-container .empty-header-placeholder {
  width: 100%;
}

.feed-container .empty-header-placeholder span {
  display: block;
  width: 20%;
  aspect-ratio: 1;
}

.feed-container .empty-footer-placeholder {
  min-height: 5rem;
}