.posts-grid {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 3fr);
  gap: 0.5%;
}

.posts-grid .grid-post-link {
  display: block;
  width: 100%;
  max-height: min-content;
}

.posts-grid .grid-post-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.grid-post-link:hover {
  opacity: 0.85;
}