.posts-grid {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 33%);
  gap: 0.5%;
}

.posts-grid .grid-post-link {
  display: block;
  width: 100%;
  aspect-ratio: 1;
}

.posts-grid .grid-post-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}