.profile-container {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-container .profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile-container .profile-picture-link {
  display: block;
  width: 50%;
}

.profile-container .profile-picture {
  border-radius: 100%;
  width: 100%;
}

.profile-container .profile-username {
  font-size: 2rem;
  margin: 0;
}

.profile-container .profile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 1.5rem 0;
}

.profile-container .profile-data-item {
  width: 30%;
  color: var(--light-color);
}

.profile-container .profile-data-item h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0.1rem 0;
  width: 100%;
  text-align: center;
}

.profile-container .profile-data-number {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}