.camera-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.camera-container .video-container {
  width: 90%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera-container .camera, .camera-container .camera-placeholder {
  border-radius: 2rem;
  width: 100%;
  max-height: 100%;
  /* box-shadow: 0 0 20px rgb(var(--primary-color-rgb)/0.5); */
}

.camera-container .camera-placeholder {
  height: 50%;
  background: var(--background);
  border: solid 2px var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.camera-container .capture-button {
  border-radius: 100%;
  margin-bottom: 2.5rem;
  height: 5rem;
  aspect-ratio: 1;
  background-color: var(--light-color);
}

.camera-container .capture-button:hover {
  background-color: rgb(var(--light-color-rgb) / 0.85);
  transition: background-color 0.2s;
}