.new-post-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.new-post-container .preview-image {
  border-radius: 1rem;
  width: 90%;
}

.new-post-container .new-post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.new-post-container .new-post-actions button {
  background-color: rgb(var(--dark-color-rgb)/0.75);
  color: var(--light-color);
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
}

.new-post-container .new-post-actions button:hover {
  background-color: rgb(var(--primary-color-rgb)/0.25);
  color: var(--light-color);
  font-size: 1.6rem;
}