.home-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.home-container footer {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  border-top: 1px solid var(--base-color);
}