.main-footer {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  min-height: fit-content;
  height: 3.5rem;
  width: 100%;
  max-width: var(--max-width);
  background-color: rgb(var(--dark-color-rgb)/0.975);
  border: solid 2px rgb(var(--dark-color-rgb)/0.975);
  backdrop-filter: blur(10px);
  color: var(--light-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
  margin: 0;
}

.main-footer .footer-button {
  height: 100%;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--light-color);
  transition: background-color 0.2s;
}

.main-footer .footer-button.disabled {
  color: var(--disabled-color);
}

.main-footer .footer-button:hover {
  background-color: var(--primary-dark-color);
  color: var(--light-color);
}

.main-footer .footer-button.disabled:hover {
  background-color: var(--primary-dark-color);
  color: var(--disabled-color);
}

.main-footer .footer-button svg {
  height: 50%;
  width: 50%;
}

.main-footer .footer-main-button {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.main-footer .footer-main-button:hover, .main-footer .footer-main-button:focus {
  background-color: rgb(var(--primary-color-rgb)/0.9);
  color: var(--dark-color);
}

.empty-footer-placeholder {
  min-height: 6rem;
}