.main-footer {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  min-height: fit-content;
  height: 3.5rem;
  width: 100%;
  max-width: var(--max-width);
  background-color: rgb(var(--dark-color-rgb)/0.8);
  color: var(--light-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.main-footer .footer-button {
  height: 100%;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: var(--light-color);
}

.main-footer .footer-button.disabled {
  color: var(--disabled-color);
}

.main-footer .footer-button:hover {
  background-color: var(--primary-dark-color);
  color: var(--light-color);
}

.main-footer .footer-button.disabled:hover {
  background-color: var(--primary-dark-color);
  color: var(--disabled-color);
}

.main-footer .footer-button svg {
  height: 50%;
  width: 50%;
}

.main-footer .footer-main-button {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.main-footer .footer-main-button:hover {
  background-color: rgb(var(--light-color-rgb)/0.9);
  color: var(--dark-color);
}