.main-header {
  position: fixed;
  /* left: 0; */
  top: 0;
  min-height: fit-content;
  height: 4rem;
  width: 100%;
  max-width: var(--max-width);
  background-color: rgb(var(--dark-color-rgb)/0.87);
  backdrop-filter: blur(10px);
  color: var(--light-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  z-index: 0;
}

.main-header .header-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 75%;
}

.main-header .side-button {
  width: 3.25rem;
  height: 3.25rem;
  margin: 0 1rem 0 1rem;
  color: var(--light-color);
}

.main-header .main-logo {
  width: 20%;
  aspect-ratio: 1;
}

.main-header .side-button:hover {
  background-color: var(--primary-dark-color);
  color: var(--light-color);
}

.main-header:has(.main-logo:hover) .logo-star {
  fill: var(--light-color);
}

.main-header .header-button svg {
  height: 50%;
  width: 50%;
}

.main-header .main-logo svg {
  height: 80%;
  width: 80%;
}

.empty-header-placeholder {
  width: 100%;
}

.empty-header-placeholder span {
  display: block;
  width: 20%;
  aspect-ratio: 1;
}