:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  --max-width: 700px;

  --today-color-rgb: ;
  --primary-color-rgb: var(--today-color-rgb, 223 243 70);
  --primary-color: rgb(var(--today-color-rgb, --primary-color-rgb));
  --primary-dark-color: rgb(var(--primary-color-rgb) / 0.1);

  --light-color-rgb: 248 245 231;
  --light-color: rgb(var(--light-color-rgb));
  --dark-color-rgb: 0 0 0;
  --dark-color: rgb(var(--dark-color-rgb));
  --dark-green-color-rgb: 42 42 43;
  --dark-green-color: rgb(var(--dark-green-color-rgb));

  --success-color: rgb(65, 145, 54);
  --success-secondary-color: rgb(58, 161, 44);
  --danger-color: rgb(147, 68, 68);
  --danger-secondary-color: rgb(168, 63, 63);
  --warning-color: rgb(255, 201, 39);
  --warning-secondary-color: rgb(204, 165, 49);
  --disabled-color: #898787;
  --disabled-contrast-color: #cdcdcd;

  --background: linear-gradient(142deg, var(--dark-color) 50%, rgb(var(--primary-color-rgb) / 0.1) 100%);

  color-scheme: light dark;
  color: var(--light-color);
  background: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--light-color);
  text-decoration: inherit;
}
a:hover {
  color: rgb(var(--light-color-rgb)/0.25);
}

a, button, input, select, textarea {
  -webkit-tap-highlight-color: transparent;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--light-color);
  background-color: var(--dark-green-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(var(--dark-green-color-rgb) / 0.25);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
  }
} */
