:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;

  --max-width: 700px;

  --primary-rgb: 216 99 61;
  --primary-color: rgb(var(--primary-rgb));
  --secondary-color: #c35631;
  --primary-high-contrast-color: rgb(240, 240, 240);

  --high-contrast-rgb: 240 240 240;
  --high-contrast-color: rgb(var(--high-contrast-rgb));
  --base-rgb: 26 26 26;
  --base-color: rgb(var(--base-rgb));
  --low-contrast-rgb: 36 36 36;
  --low-contrast-color: rgb(var(--low-contrast-rgb));
  --gray-low-contrast-color: #444241;
  --gray-contrast-color: #898787;
  --light-color: var(--high-contrast-color);
  --dark-color: var(--low-contrast-color);
  --success-color: rgb(65, 145, 54);
  --success-secondary-color: rgb(58, 161, 44);
  --danger-color: rgb(147, 68, 68);
  --danger-secondary-color: rgb(168, 63, 63);
  --warning-color: rgb(255, 201, 39);
  --warning-secondary-color: rgb(204, 165, 49);
  --disabled-color: #898787;
  --disabled-contrast-color: #cdcdcd;

  --background: linear-gradient(142deg, var(--base-color) 30%, rgb(var(--low-contrast-rgb) / 0.9) 100%);

  color-scheme: light dark;
  color: var(--high-contrast-color);
  background: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--secondary-color);;
}

a, button, input, select, textarea {
  -webkit-tap-highlight-color: transparent;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-high-contrast-color);
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-high-contrast-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
  }
} */
